body{
  background-color: lightgrey;
}
h1{
  color:darkblue;
  text-align: center;
}
.headingsItem{
  color: maroon;
  font-size: 20px;
  font-weight: bold;
}
.headingsCategory a{
  font-size:20px;
  font-weight: bold;
    text-decoration: none;
}
.description{
  list-style-type: square;
  font-weight: bold;
  color: darkgreen;
}
.homeHeading{
  color: brown;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}
.homeHeading:hover{
  color:yellow;
}
.headingsCategory a:hover{
color:#eb4034;
}
